# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pcm

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Resulting files
*.log
*.root
*.swp

